@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&family=Nunito:wght@200;300;400;500;600;700;800;900&family=Open+Sans:wght@300;400;500;600;700;800&family=Roboto:wght@100;400;500;700;900&display=swap');

.prueba {
    background-color: blueviolet;
}

.prueba2 {
    background-color: rgb(86, 226, 43);
}

.logoContainer a {
    width: 15vw;
}

.navbar-collapse {
    position: absolute;
    right: 0;
    width: 70%;
    top: 100%;
    padding: 0.5rem;
}

.navbar {
    height: 15vh;
    z-index: 15;
}

.navbar-dark .navbar-nav .nav-link {
    color: rgba(255, 255, 255, 0.856);
}

.nav-item {
    border-bottom: 1px solid rgba(255, 255, 255, 0.438);
}

.navbar-dark .navbar-nav .nav-link.comprarTickets {
    color: rgb(41, 167, 66);
    font-weight: 500;
}

.navbar-dark .navbar-nav .nav-link.active {
    color: rgb(255, 255, 255);
    font-weight: 500;
}

.container {
    max-width: 1200px;
}

.carousel-item img {
    height: 100vh;
    max-height: 100vh;
    width: 100%;
    min-width: 100vw;
    object-fit: cover;
    object-position: center 0.05rem;
}

.carousel-control-prev, .carousel-control-next, .carousel-control-prev-icon, .carousel-control-next-icon {
    color: blanchedalmond;
    z-index: 10;
}

.efectoOscuro{
    /* Para aplicar efecto opaco en el fondo */
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.58);
    z-index: 2;
    position:absolute;
    top:0;
    left:0;
}

/* Section Conferencia Bs AS */
.contenidoConferencia {
    bottom: 5rem;
    right: 2.5rem;
    z-index: 3;
    width: 80%;
}

.contenidoConferencia h1 {
    color: rgba(255, 255, 255, 0.829);
}

.buttonTicket {
    background-color: rgb(41, 167, 67);
    color: white;
}

/* Section Oradores */
.tituloOradores {
    height: 10vh;
}

.tituloOradores h2 span {
    font-size: 0.7rem;
}

.padreCardsMobile {
    height: 85%;
    width: 85%;
}

.padreCardsMobile .card {
    height: 30%;
}

.padreCardsMobile .card .img-fluid {
    object-fit: cover;
    height: 100%;
}

.padreCardsMobile .card .btn-sm {
    padding: 0.1rem 0.25rem;
    font-size: 0.5rem;
}

.padreCardsMobile .card p {
    font-family: 'Calibri', sans-serif;
    color: rgb(63, 68, 75);
    font-size: 0.65rem;
    font-weight: 400;
}

/* media query para tablet */
@media screen and (min-width: 768px) and (max-width: 1199px)  {
    .navbar-collapse {
        position: relative;
    }

    .navbar {
        background-color: #212529
    }

    .nav-item {
        border-bottom: none;
    }

    .logoContainer a {
        width: 5vw;
    }

    .contenidoConferencia {
        bottom: 10rem;
        right: 7rem;
        width: 50%;
    }
}

/* media query para pantallas intermedias */
@media screen and (min-width: 1200px) and (max-width: 1365px) {
    .navbar-collapse {
        position: relative;
    }

    .navbar {
        background-color: #212529
    }

    .nav-item {
        border-bottom: none;
    }

    .logoContainer a {
        width: 5vw;
    }

    .contenidoConferencia {
        bottom: 10rem;
        right: 7rem;
        z-index: 3;
        width: 50%;
    }
}

/* media query para escritorio */
@media screen and (min-width: 1366px) {
    .navbar-collapse {
        position: relative;
    }

    .navbar {
        background-color: rgb(53, 58, 63);
    }

    .nav-item {
        border-bottom: none;
    }

    .navbar-nav .nav-item .nav-link {
        color: rgba(189, 196, 199, 0.699);
    }

    .navbar-dark .navbar-nav .nav-link.comprarTickets {
        font-weight: 400;
    }

    .logoContainer a {
        width: 5vw;
    }

    .contenidoConferencia {
        bottom: 7rem;
        right: 10rem;
        z-index: 3;
        width: 40%;
    }

}